<div class="row">
  <div class="col s12">
    <h3 class="center-align">Course Listing</h3>
  </div>
</div>

<div class="row">
  <div class="col s4 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS111</span>
        <ul>
          <li>Name: Intro to Computer Science</li>
          <li>Description: A thorough intro to Computer Science</li>
        </ul>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS112</span>
        <ul>
          <li>Name: Intro to Computer Science</li>
          <li>Description: A thorough intro to Computer Science</li>
        </ul>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS112</span>
        <ul>
          <li>Name: Intro to Computer Science</li>
          <li>Description: A thorough intro to Computer Science</li>
        </ul>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
  <div class="col s4 m4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Code: CS112</span>
        <ul>
          <li>Name: Intro to Computer Science</li>
          <li>Description: A thorough intro to Computer Science</li>
        </ul>
      </div>
      <div class="card-action">
        <a href="#">Enroll</a>
        <a href="#">Info</a>
      </div>
    </div>
  </div>
</div>