@import "materialize";

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  nav {
    background-color: #0097a7;
  }

.page-footer {
    background-color: #0097a7;
}

// .card > .card-action {
//     background-color: #bbecf1;
//     text-transform: lowercase;
// }